# VCS and metadata
.git
.gitignore

# Development containers & VSCode
.devcontainer/
.vscode/

# Airflow local runtime folders (never bake these)
logs/
data/
config/
plugins/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment files
.env

# Pixi cache / build artifacts
.pixi/
pixi.lock

# Docker
docker-compose.airflow.yaml
docker-compose.airflow_2.yaml
.dockerignore

# OS junk
.DS_Store

# Local run logs
pipeline.log
