[workspace]
name = "media-flow" 
version = "0.1.0"
description = "A data pipeline for video processing and augmentation."
authors = ["Your Name <your.email@example.com>"]
channels = ["conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "3.11.*"
# Basic Python dependency for the container
# We will add other dependencies like ray, numpy, opencv-python, 
# and albumentations later when we implement the actual pipeline.

# Define the main command to execute the application
[tasks]
start = "python3 main.py"
#black = "pixi run -e dev black ."

[pypi-dependencies]
numpy = ">=2.3.5, <3"
pandas = ">=2.3.3, <3"
tqdm = ">=4.67.1, <5"
loguru = ">=0.7.3, <0.8"
scikit-image = ">=0.25.2, <0.26"
ray = ">=2.52.1, <3"
opencv-python = ">=4.11.0.86, <5"
albumentations = ">=2.0.8, <3"

[feature.dev.pypi-dependencies]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"

[environments]
[environments.default]
features = []

[environments.dev]
features = ["dev"]
