[workspace]
name = "media-flow"
version = "0.1.0"
description = "A data pipeline for video processing and augmentation."
authors = ["Jaideep Khadilkar <jaideep.khadilkar@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "=3.12"
pyarrow = ">=22.0.0,<23"
numpy = ">=2.3.5,<3"
pandas = ">=2.3.3,<3"
tqdm = ">=4.67.1,<5"
loguru = ">=0.7.3,<0.8"
scikit-image = ">=0.25.2,<0.26"
albumentations = ">=2.0.8,<3"
cryptography = ">=46.0.3,<47"
pytorch = ">=2.9.1,<3"
cuda-version = "12.9.*"

[tasks]
start = "python3 main.py"
ray_test = "python3 ray_test.py"

[pypi-dependencies]
ray = { version = ">=2.52.1, <3", extras = ["default"] }
opencv-python = ">=4.11.0.86, <5"
apache-airflow = { version = ">=2.9.0,<3.0", extras = ["celery"] }
apache-airflow-providers-cncf-kubernetes = "*"
apache-airflow-providers-docker = "*"

[feature.dev.pypi-dependencies]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"

[environments]
[environments.default]
features = []

[environments.dev]
features = ["dev"]

[system-requirements]
cuda = "12"

[target.linux-64.dependencies]
cuda = ">=12.9.1,<13"
pytorch-gpu = ">=2.9.1,<3"
